@charset "utf-8";

@font-face {
    font-family: 'TizaRegular';
    src: url('../fonts/tiza/tiza-webfont.eot');
    src: url('../fonts/tiza/tiza-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tiza/tiza-webfont.woff') format('woff'),
         url('../fonts/tiza/tiza-webfont.ttf') format('truetype'),
         url('../fonts/tiza/tiza-webfont.svg#TizaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OrotundHeavy';
    src: url('../fonts/orotund/Orotund-webfont.eot');
    src: url('../fonts/orotund/Orotund-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/orotund/Orotund-webfont.woff') format('woff'),
         url('../fonts/orotund/Orotund-webfont.ttf') format('truetype'),
         url('../fonts/orotund/Orotund-webfont.svg#OrotundHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UltraRegular';
    src: url('../fonts/ultra/Ultra-webfont.eot');
    src: url('../fonts/ultra/Ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ultra/Ultra-webfont.woff') format('woff'),
         url('../fonts/ultra/Ultra-webfont.ttf') format('truetype'),
         url('../fonts/ultra/Ultra-webfont.svg#UltraRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* @license
 * MyFonts Webfont Build ID 2657125, 2013-10-03T06:26:18-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Chinese Rocks by Typodermic
 * URL: http://www.myfonts.com/fonts/typodermic/chinese-rocks/regular/
 * Copyright: (c) 1999-2011 Typodermic Fonts. See attached license agreement. If agreement is missing visit typodermicfonts.com for more info.
 * Licensed pageviews: Unlimited
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2657125
 * 
 * © 2013 MyFonts Inc
*/

@font-face {
    font-family: 'ChineseRocksRgRegular';
    src: url('../fonts/chineserocks/chinese_rocks_rg-webfont.eot');
    src: url('../fonts/chineserocks/chinese_rocks_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chineserocks/chinese_rocks_rg-webfont.woff') format('woff'),
         url('../fonts/chineserocks/chinese_rocks_rg-webfont.ttf') format('truetype'),
         url('../fonts/chineserocks/chinese_rocks_rg-webfont.svg#ChineseRocksRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LittleTroubleGirlBVRegular';
    src: url('../fonts/littletroublegirl/littletroublegirl-webfont.eot');
    src: url('../fonts/littletroublegirl/littletroublegirl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/littletroublegirl/littletroublegirl-webfont.woff') format('woff'),
         url('../fonts/littletroublegirl/littletroublegirl-webfont.ttf') format('truetype'),
         url('../fonts/littletroublegirl/littletroublegirl-webfont.svg#LittleTroubleGirlBVRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RockwellBold';
    src: url('../fonts/rockwell/rockb.eot');
    src: url('../fonts/rockwell/rockb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwell/rockb.woff') format('woff'),
         url('../fonts/rockwell/rockb.ttf') format('truetype'),
         url('../fonts/rockwell/rockb.svg#RockwellBold') format('svg');
}